DATABASE_URL=postgresql://user:password@host:6543/postgres?pgbouncer=true&sslmode=require
DIRECT_URL=postgresql://user:password@host:5432/postgres?sslaccept=accept_invalid_certs
NEXTAUTH_SECRET=your-secret-key
NEXTAUTH_URL=http://localhost:3000
